body {
    margin: 0 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.topcontainer {
    display: flex;
    justify-content: space-around;

}

.topcard {
    display:flex;
    flex-direction: column;
    width: 300px
    
}

.middlecontainer {
    display: flex;
    gap: 52px;
    flex: 1;
    max-width: 1500px;
    margin: 50px auto;
}

img {
    width: 100%;
    flex: 1;
    max-width: 500px;
    max-height: 500px;
}


.middleheader {
    display: flex;
    justify-content: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

.quotecolour{
    background-color: #E5E7EB;
}

.griffith2 {
    display: flex;
    justify-content: flex-end;
}

.bannercontainer {
    display: flex;
    gap: 52px;
    margin: 30px auto;
    padding: 50px;
    color: #E5E7EB;
}

.footer{
    margin-top: auto;
    display:flex;
    justify-content:center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.colourhero {
    background-color: #1F2937;
}

.anothercontainer{
    display: flex;
    flex-direction: column;
}

button{
    width: 75px;
    background-color: #3882F6;
    border-radius: 4px;
    color: #FFFF;
}
.websiteawesome{
    font-weight: extra-bold;
    font-size: 48px ;
    color: #F9FAF8;
}

.logo, .anothercontainer {
    color: #F9FAF8;
}

.bannercontainer {
    background-color: #3882F6;
}

.griffith, .griffith2 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}